<!DOCTYPE html>
<html>
  <head>
    <title>Quản lý</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <style>
      body {
        font-family: Arial, sans-serif;
        background: #f5f5f5;
        margin: 0;
        padding: 0;
      }

      .container-box {
        max-width: 800px;
        margin: 50px auto;
        background: #fff;
        padding: 20px 30px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      h2 {
        text-align: center;
        color: #2563eb;
        margin-bottom: 20px;
      }

      th,
      td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: left;
      }

      th {
        background-color: #f0f0f0;
      }

      a.btn {
        display: inline-block;
        margin-top: 15px;
        padding: 8px 12px;
        background-color: #2563eb;
        color: #fff;
        text-decoration: none;
        border-radius: 6px;
      }

      a.btn:hover {
        background-color: #1d4ed8;
      }
      /* input {
        margin-bottom: 10px;
        padding: 5px;
        width: 180px;
      } */
      /* 
      .bt {
        float: right;
      } */
    </style>
  </head>

  <body class="p-4">
    <div class="container-box">
      <h2 style="text-align: center">Quản lý</h2>
      <% if (role === "admin") { %>
      <a class="btn" id="add" href="/add">Thêm khách hàng</a>
      <% } %>
      <a class="btn" style="float: right; margin-left: 10px" href="/register"
        >Đăng ký</a
      >
      <a class="btn" style="float: right" href="/login">Đăng nhập</a>
      <hr />
      <!-- <div class="bt">
        <input type="text" id="searchInput" placeholder="tìm kiếm..." />
      </div> -->
      <table id="table" class="display">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>SDT</th>
            <th>Địa chỉ</th>
            <th>Thao Tác</th>
          </tr>
        </thead>
        <tbody>
          <% customers.forEach((c,i)=>{ %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= c.name %></td>
            <td><%= c.sdt %></td>
            <td><%= c.diachi %></td>
            <td>
              <% if (role === "admin") { %>
              <a href="/edit/<%= c.id %>"
                ><button
                  style="
                    background-color: brown;
                    padding: 10px;
                    border-radius: 5px;
                    color: aliceblue;
                  "
                  type="submit"
                >
                  Sửa
                </button>
              </a>
              <a href="/delete/<%= c.id %>"
                ><button
                  onclick="return confirm('Bạn có đồng ý xoá hay không?')"
                  style="
                    background-color: blue;
                    padding: 10px;
                    border-radius: 5px;
                    color: aliceblue;
                  "
                  type="submit"
                >
                  Xóa
                </button></a
              >
              <a href="/customers/<%= c.id %>/invoices/add">
                <button
                  style="
                    background-color: rgb(68, 190, 127);
                    padding: 10px;
                    border-radius: 5px;
                    color: aliceblue;
                  "
                  type="submit"
                >
                  Tạo
                </button>
              </a>
              <a href="/customers/<%= c.id %>/invoices">
                <button
                  style="
                    background-color: rgb(64, 80, 170);
                    padding: 10px;
                    border-radius: 5px;
                    color: aliceblue;
                  "
                  type="submit"
                >
                  Xem
                </button>
              </a>
              <% } else { %> Không có quyền <% } %>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <script>
      $(document).ready(function () {
        const table = $("#table").DataTable({
          pageLength: 5,
          lengthChange: false,
          ordering: true, // bật sắp xếp theo cột
          info: true, // hiện info tổng số hàng
          searching: true,
        });

        $("#searchInput").on("keyup", function () {
          table.search(this.value).draw();
        });
      });
    </script>
  </body>
</html>
